form{
    border: 2px black solid;
    width: 50%;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
}
input, textarea{
    width: 100%;
    margin: 10px 0;
    padding: 3px;
}
textarea{
    resize: none;
}
#results{
    width: 50%;
    margin: 20px auto;
    text-align: center;
    color: red;
}
